.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box > .icon {
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.box > .icon > img {
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  border: none;
  object-fit: cover;
}

.box > .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.box > .info > .email {
  color: gray;
}